# Repository-wide local files
.DS_Store
Thumbs.db
# python local files
ReportGenerationService/.venv/
ReportGenerationService/.pytest_cache/
ReportGenerationService/**/__pycache__/
ReportGenerationService/**/*.pyc